@import "styles/abstracts/variables";
@import "styles/base/animations";
@import "styles/base/typography";
@import "styles/base/utlities";

.quantity {
  &_container {
    position: relative;
    width: 10rem;
  }
  &_input {
    width: 10rem;
    height: 4rem;
    background-color: $color-white;
    box-shadow: 0rem 1rem 3rem rgba($color-black, 0.2);
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-family: "Poppins";
    transition: all 0.1s;
    cursor: pointer;
    color: $color-grey-dark-3;

    &:focus {
      box-shadow: 0 1rem 4rem rgba($color-black, 0.4);
      outline: none;
    }
  }

  &_button_minus {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    background-color: $color-white;
    position: absolute;
    transform: translateY(0.5rem);
    z-index: 100;
    color: $color-grey-dark-3;
    cursor: pointer;
    transition: all 0.3s;

    &:active {
      background-color: $color-grey-light-2;
    }
  }
  &_button_plus {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    background-color: $color-white;
    position: absolute;
    transform: translateY(0.5rem);
    z-index: 100;
    color: $color-grey-dark-3;
    cursor: pointer;
    transition: all 0.3s;
    right: 0;
    &:active {
      background-color: $color-grey-light-2;
    }
  }

  &_input::-webkit-outer-spin-button,
  &_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
