$color-black: #000;

$color-primary: #44a263;
$color-primary-light: #7ed56f;
$color-primary-light-2: #f1fdf0;
$color-primary-light-3: #46af57;
$color-primary-dark: #28b485;
$color-primary-dark-4: #67b428;
$color-primary-dark-2: #05cc47;
$color-primary-dark-3: #040604;

$color-secondary-light: #ffb900;
$color-secondary-light-2: #fdf7f0;
$color-secondary-dark: #fe6435;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-5: #353535;
$color-grey-dark-3: #222;
$color-grey-dark-4: #262626;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-4: rgb(232, 232, 232);
$color-grey-light-3: rgb(248, 248, 248);
$color-grey-light-5: #edeef3;
$color-white: #fff;

$color-red: #f32013;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;

$color-button: #009f4d;

//4d7701

$color-blue-dark-2: #111722;
